/* Styling for different components is defined in this file */

:root{
  --dark-primary:#1d70b8;
  --light-primary: #5694ca;
  --dark-grey:#505a5f;
  --light-grey: #b1b4b6;
  --lightest-grey:#f3f2f1;
  --white: #ffffff;
  --black: #000000;
  --red:  #d4351c;
  --success:#28a197;
  --warning: #f47738;
  --shadow-color:rgba(204, 204, 204, 0.822);  

}

.btn, .btn:hover {
  color: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-grey);
}

.color-nav {
  background: var(--dark-primary);
}

.header-table {
  background: var(--light-primary);
}

.btn-info {
  background-color:var(--dark-primary);
  border-color: var(--dark-primary);
}

.btn-primary {
  background-color: var(--dark-primary);
  border-color:var(--dark-primary);
}

.btn-success {
  background-color: var(--success);
  border-color:var(--success);
}

.btn-danger {
  background-color: var(--red);
  border-color:var(--red);
}

.btn-warning {
  background-color: var(--warning);
  border-color:var(--warning);
  color: var(--white);
}

.align {
  text-align: center;
  margin: 2rem;
}

.align2{
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.table{
  color: var(--dark-grey);
}

.table .thead-dark th {
  color: var(--white);
  background-color: var(--dark-grey);
  border-color:var(--dark-grey);
}

.form {
  padding: 20px 0;
  position: relative;
}

form .form-input {
  border: 1px solid var(--black);
  background-color: var(--lightest-grey);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  font-size: 18px;
  color: var(--dark-grey);
  font-weight: 300;
}

.welcome-button {
  outline: 0;
  background-color: var(--dark-primary);
  border: 0;
  padding: 10px 15px;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.buttonHolder{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
}

.logo-img {
  height: 350px;
  width: 307px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}

textarea {
    white-space: pre-wrap;
    resize: vertical;
    width: 100%;
}

.completed-cell {
  color: var(--white);
  background-color: var(--success);
  font-weight: bold;
}

.uncompleted-cell {
  color: var(--white);
  background-color: var(--red);
  font-weight: bold;
}

.col-header {
  color: var(--white);
  font-size: 80%;
}

.inline-control, .dropdown-toggle {
  display: inline-block !important;
  margin-right: 1rem;
  margin-top: 1rem;
}

.inline {
  display: inline;
}

.login-loading {
  z-index: 1000;
  position: absolute;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  border-color: var(--dark-primary);
  top: 25vh;
  width: 50vw;
  margin: 0 25vw;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 10px var(--shadow-color);
  -moz-box-shadow:    0 6px 10px var(--shadow-color);
  box-shadow:         0 6px 10px var(--shadow-color);
}

.login-loading p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.table-date {
  white-space: pre-wrap;
  min-width: 10rem;
}

.help-text {
  color: var(--dark-primary);
}