body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: slategrey;
}

.color-nav {
  background: darkturquoise;
  /*background: #2ec2b0;*/
}

.header-table{
  background: paleturquoise;
}

.btn-info{
  background-color: darkturquoise;
  border-color: darkturquoise;
}

.btn-primary{
  background-color: darkturquoise;
  border-color: darkturquoise;
}

.align{
  text-align:center;
  margin-bottom: 2rem;
}

.table{
  color: slategrey;
}

.table .thead-dark th {
  color: #fff;
  background-color: slategrey;
  border-color: slategrey;
}

textarea {
    white-space:pre-wrap;
}