body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: slategrey;
}

.color-nav {
  background: darkturquoise;
  /*background: #2ec2b0;*/
}

.header-table{
  background: paleturquoise;
}

.btn-info{
  background-color: darkturquoise;
  border-color: darkturquoise;
}

.btn-primary{
  background-color: darkturquoise;
  border-color: darkturquoise;
}


.align{
  text-align:center;
  margin-bottom: 2rem;
}
.align2{
  text-align:center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.table{
  color: slategrey;
}

.table .thead-dark th {
  color: #fff;
  background-color: slategrey;
  border-color: slategrey;
}

.form {
  padding: 20px 0;
  position: relative;
}

form input {
  border: 1px solid black;
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: slategrey;
  font-weight: 300;
}

.welcome-button {
  outline: 0;
  background-color: darkturquoise;
  border: 0;
  padding: 10px 15px;
  color: slategrey;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.buttonHolder{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
}

.logo-img {
  height: 350px;
  width: 307px;
  display: block;
  /*margin-left: 10%;*/
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
  padding-bottom: 0px;
}

